<section class="card">
  <!-- Interpolación -->
  <h1>{{ title }}</h1>
  <p class="muted">Gestiona tus canciones favoritas</p>

  <!-- Property binding a src -->
  <img *ngIf="coverUrl" [src]="coverUrl" alt="Cover" width="140" style="border-radius:8px; margin:8px 0;">

  <h2>{{ playlistName }}</h2>

  <!-- Two-way binding + Event binding -->
  <div class="toolbar">
    <input
      [(ngModel)]="newTrack"
      (keyup)="addTrackOnEnter($event)"
      placeholder="Añadir canción (Enter para guardar)">
    <!-- Property binding a disabled -->
    <button (click)="addTrack()" [disabled]="!newTrack.trim()">➕ Añadir</button>
  </div>

  <!-- Filtro (two-way) -->
  <div class="toolbar">
    <input [(ngModel)]="filter" placeholder="Filtrar por título o artista">
    <span class="muted" *ngIf="filter">Filtro activo: "{{ filter }}"</span>
  </div>

  <!-- Estado vacío (ngIf) -->
  <p *ngIf="tracks.length === 0" class="muted">
    No hay canciones todavía. Añade la primera ☝️
  </p>
  <p *ngIf="tracks.length === 0" class="empty-msg">
  🎵 Tu playlist está vacía. ¡Añade tu primera canción!
</p>
<p *ngIf="tracks.length > 5" class="warning-msg">
  ⚠️ Tienes demasiadas canciones, ¡quizá quieras crear otra playlist!
</p>

  <!-- Listado (ngFor) + ngClass + botones (event binding) -->
  <ul class="list" *ngIf="tracks.length > 0">
  <!-- [ngClass]="{ liked: t.liked, hidden: filter && !(t.title.toLowerCase().includes(filter.toLowerCase()) || t.artist.toLowerCase().includes(filter.toLowerCase())) }" -->
 <li
  class="row"
  *ngFor="let t of tracks; let i = index; trackBy: trackByFn"
  [ngClass]="{ 'liked': t.liked }"
>

    <div class="meta">
<strong>{{ t.title | titlecase }} — {{ t.duration | duration }}</strong>
<span class="muted">{{ t.artist }}</span>
<span class="muted">Añadido el: {{ t.added | date:'shortDate' }}</span>


    </div>

    <div class="actions">
<button (click)="toggleLike(i)">{{ t.liked ? '💚 Unlike' : '🤍 Like' }}</button>
<button (click)="removeTrack(i)">🗑️ Quitar</button>

    </div>
  </li>

</ul>
</section>
